body,
html {
  height: 100%;
}

.title-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  /* color: #ffe9ec; */
  font-weight: bolder;
}

.theme-select{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0rem;
  line-height: 1.0;
  /* color: #ffe9ec; */
  font-weight: 500;
}

#editor {
  height: 100%;
}

body>div:first-child {
  height: 70%;
  display: flex;
  flex-direction: column;
}

body>div:nth-child(2) {
  height: 30%;
  display: flex;
  flex-direction: column;
}

nav {
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#console {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  font-family: "Ubuntu Mono", monospace;
}

[action] {
  cursor: pointer;
}

nav>span {
  display: block;
}
/* try */
.heading-popup{
  text-align: center;
  font-weight: bold;
}
#heading-bold-non{
  font-weight: normal;
}
.middle-heading{
  padding-left: 30px;
  padding-right: 30px;
}
#temp{
  padding-top: 15px;
}
